<a href="https://colab.research.google.com/github/anjelodepanes/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [4]:
#Example of Python Indentation

if 5>2:
  print("five is greater than two")

five is greater than two

Python Variable

In [12]:
x = 1
a,b = 0,-1
a = 9
c = "Sally"
c = "Danny"
print(a)
print(c)
c = "Maria"
print(c)

9
Danny
Maria

Casting

In [9]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

Type () function

In [11]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single quote or Double quote

In [13]:
f = "Maria"
print(f)
g = 'Ana'
print(g)

Maria
Ana

Multiple Variables

In [16]:
x,y,z = 4,5,6
print(x)
print(y)
print(z)

4
5
6

Single Value to Multiple Variables

In [20]:
x=y=z="Lilo"
print(x)
print(y)
print(z)

Lilo
Lilo
Lilo

Output variable using Print and +

In [27]:
s = "Python is"
t = "enjoying"
print("Python is "+t)
print(s+" "+t)

Python is enjoying
Python is enjoying

Arithmetic

In [42]:
x = 1
y = 2
sum = x+y
print(x)
print(sum)

#modulo division
l = 4%2
print("4%2=",l)

k = 4//2
print("3%2=",k)

1
3
4%2= 0
3%2= 2

Assignment Operator

In [45]:
x = 1
x+=1
print(x)

2

Logical Operator

In [48]:
q = 1
r = 4
q>r and r==r

False